.aboutMe {
  padding: 20px;
  @include tablet {
    margin-left: 170px;
    margin-right: 170px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    @include tablet {
      display: inline-block;
      justify-content: left;
    }
    &--text {
      margin-top: 10px;
      font-family: $text-font;
      text-align: justify;
      // line-height: 20px;
      // background-color: rgba(32, 32, 32, 0.774);
      @include tablet {
        text-align: left;
      }
    }

    &--img {
      margin-right: 30px;
      width: 200px;
      height: 100px;
      background-image: url("../../images/sofia.jpg");
      background-size: cover;
      background-position: center top;
      margin-bottom: 15px;
      display: block;
      filter: contrast(120%) grayscale(100%);
      @include tablet {
        width: 200px;
        height: 200px;
        background-image: url("../../images/sofia-1-1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
      }
    }
  }

  &__title {
    font-size: 25px;
    font-family: $titles-font-family-regular;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.backgroundImageWhoIAm {
  // background-color: $pinkColor;
  background-image: url("../../images/pruebamobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  @include tablet {
    background-size: contain;
    background-image: url("../../images/pruebatablet.png");
  }
  @include desktop {
    background-size: contain;
    // background-position: right;
    background-image: url("../../images/pruebatabletflip.png");
  }
  // span {
  //   background-color: rgb(32, 32, 32);
  // }
}
