.footer {
  display: flex;
  flex-direction: column;
  font-family: $titles-font-family-regular;

  &__rrss {
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    &--li {
      font-size: 10px;
      .link {
        text-decoration: none;
      }
    }
  }
  &__extra {
    padding: 20px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--text {
      font-size: 10px;
      color: $black;
      .btn {
        border: none;
        background-color: transparent;
        font-family: $titles-font-family-regular;
        // color: rgb(0, 0, 0);
        cursor: pointer;
      }
      .link {
        text-decoration: none;
        // color: $black;
      }
    }
  }
}
