.container {
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-top: 70px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: flex-end;
  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  &__name {
    font-family: $titles-font-family-regular;
    font-size: 70px;
    line-height: 90px;
    @include tablet {
      padding-left: 50px;
    }
    @include desktop {
      font-size: 90px;
      padding-bottom: 30px;
    }

    &--myName {
      font-family: $titles-font-family-regular;
      color: transparent;
      -webkit-text-stroke-width: 0.5px;
      letter-spacing: 4px;
      -webkit-text-stroke-color: $white;
    }
  }
  &__containerJobs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include tablet {
      justify-content: flex-end;
      padding-right: 150px;
    }
    @include desktop {
      justify-content: center;
    }

    &--icon {
      font-size: 60px;
      padding-right: 10px;
      @include desktop {
        font-size: 90px;
      }
    }
  }
  &__positions {
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    &--job {
      line-height: 20px;
      list-style: none;
      font-family: $titles-font-family-regular;
      font-size: 12px;
      @include desktop {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
.whoIAm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
  @include tablet {
    margin-top: 300px;
  }
  @include desktop {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  &__text {
    font-family: $console-font;
    font-size: 13px;
    color: $gray;
    @include tablet {
      text-align: end;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 22px;
    }
    @include desktop {
      padding-right: 50px;
      font-size: 20px;
    }
  }
}
.borderText {
  font-family: $titles-font-family-regular;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 4px;
  -webkit-text-stroke-color: $pinkColor;
}
.backgroundImageHello {
  // background-color: aqua;
  background-image: url("../../images/cabeceramobile2.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  @include tablet {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../../images/cabeceradesktop2.png");
    background-size: cover;
  }
  @include desktop {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../../images/cabeceradesktop2.png");
  }
}
