.nav {
  top: 0px;
  right: 0px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 100%;
    list-style: none;
    padding-top: 40px;
    z-index: 50;
    position: fixed;

    @include tablet {
      // background-color: aqua;
      justify-content: flex-end;
      padding-right: 50px;
      // padding-top: 20px;
    }

    &--title {
      margin: 10px;
      font-size: 15px;
      font-family: $titles-font-family-regular;
      text-shadow: 2px 0 0 $black;
      color: white;
      .link {
        text-decoration: none;
      }
    }
  }
}

// .bnNav {
//   background: linear-gradient(to bottom, $black, rgba(255, 255, 255, 0));
// }
.navColored {
  background: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0));
  width: 100vw;
}
.bnNav {
  background: linear-gradient(to bottom, $black, rgba(255, 255, 255, 0));
  width: 100vw;
  // background-color: aqua;
}
