.nav {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    margin: 40px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;

    &--title {
      margin: 20px;
      font-family: $titles-font-family-regular;
      background-color: transparent;
      text-shadow: 2px 0 0 $black;
      cursor: pointer;
    }
  }
}
