.nav {
  top: 0px;
  right: 0px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding-top: 40px;
    z-index: 999;
    position: fixed;
    background: linear-gradient(to bottom, $black, rgba(255, 255, 255, 0));
    @include tablet {
      // background-color: aqua;
      justify-content: flex-end;
      padding-right: 50px;
      padding-top: 20px;
    }

    &--title {
      margin: 10px;
      font-size: 15px;
      font-family: $titles-font-family-regular;

      text-shadow: 2px 0 0 $black;

      .link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
