.selectedWorks {
  padding: 18px;

  &__title {
    font-size: 30px;
    font-family: $titles-font-family-regular;
    @include desktop {
      padding-left: 80px;
    }
  }
  &__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include desktop {
      padding-left: 80px;
      padding-right: 80px;
    }

    &--li {
      @include desktop {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .right {
      @include desktop {
        align-items: flex-end;
      }
    }
    &--li .title {
      padding-top: 15px;
      padding-bottom: 10px;
      font-family: $text-font;
      font-size: 25px;
    }
    &--li .description {
      font-family: $console-font;
      font-size: 12px;
      color: $gray;
      @include desktop {
        font-size: 20px;
      }
    }
    &--li .img-container {
      @include desktop {
        display: flex;
        align-items: flex-end;
      }
    }
    &--li .li__img {
      padding-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      // filter: contrast(160%) grayscale(100%);
      width: 90%;
      &--bn {
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        filter: contrast(160%) grayscale(100%);
      }

      &--photoColor {
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        filter: saturate(85%);
      }
      @include desktop {
        margin: 0px;
        width: 70%;
      }
    }
  }
}
