@font-face {
  font-family: "monument-extended-bold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf") format("truetype");
}
@font-face {
  font-family: "monument-extended-regular";
  src: url("../fonts/MonumentExtended-Regular.otf") format("truetype");
}
* {
  //   font-family: "monument-extended-bold", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
