@import "../styles/core/Reset.scss";
@import "../styles/core/Mixins";
@import "../styles/core/Variables.scss";
@import "../styles/layout/Nav.scss";
@import "../styles/layout/Selected-works.scss";
@import "../styles/layout/WhoIAm.scss";
@import "../styles/layout/AboutMe.scss";
@import "../styles/layout/Contact.scss";
@import "../styles/layout/Footer.scss";
@import "../styles/layout/UnderConstruction.scss";
@font-face {
  font-family: "monument-extended-bold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf") format("truetype");
}
@font-face {
  font-family: "monument-extended-regular";
  src: url("../fonts/MonumentExtended-Regular.otf") format("truetype");
}

.body {
  scroll-behavior: smooth;
  color: white;
  background-color: black;
}

.colored {
  // background-color: rgb(255, 255, 255);
  color: $grayText;
}
.backgroundWhite {
  background-color: rgb(255, 255, 255);
}
