.selectedWorks {
  padding: 20px;
  @include desktop {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include big-screen {
    padding-left: 20%;
    padding-right: 20%;
  }
  &__title {
    font-size: 50px;
    font-family: $titles-font-family-regular;
    @include tablet {
      font-size: 70px;
    }
    @include desktop {
      font-size: 70px;
    }
  }
  &__container {
    width: 100%;
  }
}
.container__hover {
  @include desktop {
    background-color: blueviolet;
    width: 50%;
  }
}
