.whoIAm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
  @include tablet {
    margin-top: 200px;
  }
  @include desktop {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  &__text {
    font-family: $console-font;
    font-size: 13px;
    color: $gray;
    @include tablet {
      text-align: end;
      // padding-left: 50px;
      // padding-right: 50px;
      font-size: 22px;
    }
    @include desktop {
      // padding-right: 50px;
      font-size: 20px;
    }
  }
}
.textColorDark {
  color: $grayText;
}
