.container {
  // background-color: aqua;
  height: 105vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 30px 30px 30px 30px;
  background-size: contain;

  @include tablet {
    padding: 60px;
    justify-content: center;
  }
  @include desktop {
    justify-content: flex-end;
  }
  @include big-screen {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.backgroundImageHello {
  // background-color: aqua;
  background-image: url("../../../../images/cabeceramobile2.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  @include tablet {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../../../../images/cabeceradesktop2.png");
    background-size: cover;
  }
  @include desktop {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../../../../images/cabeceradesktop2.png");
  }
}
